.main-img {

    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.buttons {
    float: left;
}
.title, .subtitle{
    text-align: center;
}

section {
    margin-left: 30px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 19px;
    height: 60px;
    background: #fff;
}
